.navList {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.navList li a {
  padding: 20px;
}

.NavLink {
  color: rgb(13, 116, 233);
  text-transform: uppercase;
}
